.footer-container {
  background-color: #ff673f;
  width: 100%;
  padding-top: calc(800 / 2736 * 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(./images/footer.jpg);
}
